## Formation Analyse des données 1 avec ChatGPT

**Comment faire une analyse des données?**

L'analyse des données est un processus qui consiste à examiner, nettoyer, transformer et interpréter des ensembles de données pour en tirer des informations pertinentes et prendre des décisions éclairées. Voici les étapes générales pour réaliser une analyse des données :

1. Définir l'objectif : Commencez par clarifier l'objectif de votre analyse. Quelles sont les questions auxquelles vous souhaitez répondre ou les problèmes que vous souhaitez résoudre ?

2. Collecte des données : Rassemblez les données pertinentes pour votre analyse. Cela peut inclure des données provenant de bases de données, de fichiers CSV, de feuilles de calcul, de sources en ligne, etc.

3. Nettoyage des données : Examinez attentivement les données pour identifier les erreurs, les valeurs manquantes ou aberrantes, les doublons, etc. Nettoyez les données en les corrigeant, en les supprimant ou en les remplaçant selon les besoins.

4. Exploration des données : Effectuez une exploration préliminaire des données pour en comprendre la structure, les relations et les tendances. Utilisez des techniques telles que les statistiques descriptives, les visualisations graphiques, les regroupements, etc.

5. Préparation des données : Préparez les données pour l'analyse en effectuant des transformations, des agrégations ou des calculs supplémentaires. Cela peut inclure la normalisation des variables, la création de nouvelles variables dérivées, etc.

6. Choix des techniques d'analyse : Sélectionnez les techniques d'analyse appropriées en fonction de votre objectif et du type de données. Cela peut inclure des méthodes statistiques, des algorithmes d'apprentissage automatique, des analyses de séries temporelles, etc.

7. Analyse des données : Appliquez les techniques d'analyse choisies pour explorer les relations, les modèles ou les tendances dans les données. Utilisez des outils statistiques, des visualisations avancées ou des modèles prédictifs selon les besoins.

8. Interprétation des résultats : Analysez les résultats de votre analyse pour en extraire des conclusions significatives. Identifiez les principales observations, les facteurs influents, les relations causales ou les recommandations.

9. Communication des résultats : Présentez vos résultats de manière claire et concise à un public cible. Utilisez des visualisations, des rapports ou des présentations pour expliquer les conclusions de votre analyse.

Il convient de noter que l'analyse des données peut être un processus itératif, où vous pouvez revenir à certaines étapes pour ajuster votre approche en fonction des résultats obtenus.

**Je vais utiliser python pour faire cette analyse et l’éditeur jupyter. Donnez moi la première cellule.**

In [1]:
# Importation des bibliothèques nécessaires
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Charger les données à partir d'un fichier CSV
data = pd.read_csv('automobile.csv')

# Afficher les premières lignes du jeu de données pour vérifier son chargement
data.head()

# Effectuer des opérations de nettoyage et de préparation des données
# (par exemple, supprimer les valeurs manquantes, convertir les types de données, etc.)

# Effectuer une exploration préliminaire des données (visualisations, statistiques descriptives, etc.)

# Commencer l'analyse des données en utilisant des techniques appropriées

# Afficher ou visualiser les résultats obtenus

# Continuer avec d'autres cellules pour des analyses supplémentaires

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**Comment faire le nettoyage des données?**

In [2]:
# Identifier les valeurs manquantes
valeurs_manquantes = data.isnull().sum()

In [3]:
valeurs_manquantes

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [4]:
# Remplacer le symbole "?" par NaN
data.replace('?', np.nan, inplace=True)

In [5]:
# Identifier les valeurs manquantes
valeurs_manquantes = data.isnull().sum()
valeurs_manquantes

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

**Comment calculer la moyenne d'une colonne de la base de données?**

In [8]:
# Calculer la moyenne d'une colonne spécifique
moyenne_colonne = data['normalized-losses'].mean()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
# Convertir la colonne 'normalized-losses' en un type numérique
data['normalized-losses'] = pd.to_numeric(data['normalized-losses'], errors='coerce')

# Calculer la moyenne de la colonne convertie
moyenne = data['normalized-losses'].mean()

# Afficher la moyenne
print("La moyenne de normalized-losses est :", moyenne)

La moyenne de normalized-losses est : 122.0

**Comment connaitre les types des variables d'une base de données?**

In [10]:
# Afficher les types de données de chaque colonne
print(data.dtypes)

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

**Remplacer dans la colonne 'normalized-losses' de la base de données , les valeurs NaN par la moyenne.**

In [11]:
# Remplacer les valeurs NaN par la moyenne
data['normalized-losses'].fillna(moyenne, inplace=True)

In [12]:
# Afficher les premières lignes du jeu de données pour vérifier son chargement
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [13]:
# Identifier les valeurs manquantes
valeurs_manquantes = data.isnull().sum()
valeurs_manquantes

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64

**Remplacer dans la colonne 'num-of-doors' de la base de données , les valeurs NaN par la valeur la plus répandue de cette colonne.**

In [15]:
# Remplacer les valeurs NaN par la valeur la plus répandue
valeur_repandue = data['num-of-doors'].mode()[0]
data['num-of-doors'].fillna(valeur_repandue, inplace=True)

In [16]:
# Identifier les valeurs manquantes
valeurs_manquantes = data.isnull().sum()
valeurs_manquantes

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 4
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                4
dtype: int64

**Remplacer dans la colonne 'bore' de la base de données, les valeurs NaN par la moyenne.**

In [17]:
# Convertir les valeurs non numériques en NaN
data['bore'] = pd.to_numeric(data['bore'], errors='coerce')

In [18]:
# Calculer la moyenne d'une colonne spécifique
moyenne_colonne = data['bore'].mean()

In [19]:
moyenne_colonne

3.3297512437810957

In [20]:
# Remplacer les valeurs NaN par la moyenne
data['bore'].fillna(moyenne_colonne, inplace=True)

**Remplacer dans la colonne 'stroke' de la base de données, les valeurs NaN par la moyenne.**

In [21]:
# Convertir les valeurs non numériques en NaN
data['stroke'] = pd.to_numeric(data['stroke'], errors='coerce')

In [22]:
# Calculer la moyenne d'une colonne spécifique
moyenne_colonne = data['stroke'].mean()

In [23]:
moyenne_colonne

3.2554228855721337

In [24]:
# Remplacer les valeurs NaN par la moyenne
data['stroke'].fillna(moyenne_colonne, inplace=True)

**Remplacer dans la colonne 'horsepower' de la base de données, les valeurs NaN par la moyenne.**

In [25]:
# Convertir les valeurs non numériques en NaN
data['horsepower'] = pd.to_numeric(data['horsepower'], errors='coerce')

In [26]:
# Calculer la moyenne d'une colonne spécifique
moyenne_colonne = data['horsepower'].mean()

In [27]:
moyenne_colonne

104.25615763546799

In [28]:
# Remplacer les valeurs NaN par la moyenne
data['horsepower'].fillna(moyenne_colonne, inplace=True)

**Remplacer dans la colonne 'peak-rpm' de la base de données, les valeurs NaN par la moyenne.**

In [29]:
# Convertir les valeurs non numériques en NaN
data['peak-rpm'] = pd.to_numeric(data['peak-rpm'], errors='coerce')

In [30]:
# Calculer la moyenne d'une colonne spécifique
moyenne_colonne = data['peak-rpm'].mean()

In [31]:
moyenne_colonne

5125.369458128079

In [32]:
# Remplacer les valeurs NaN par la moyenne
data['peak-rpm'].fillna(moyenne_colonne, inplace=True)

**Supprimer la ligne ayant NaN dans la colonne 'price'.**

In [33]:
# Supprimer les lignes ayant NaN dans la colonne 'price'
data.dropna(subset=['price'], inplace=True)

In [34]:
# Identifier les valeurs manquantes
valeurs_manquantes = data.isnull().sum()
valeurs_manquantes

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

**Comment supprimer les doublons?**

In [36]:
# Supprimer les doublons
data.drop_duplicates(inplace=True)

## Standardization des données

**Supposons qu'on travaille dans un pays qui utilise la norme L/100 km. Créer une nouvelle colonne dans la base de données 'L/100 km' qui converti les données de la colonne 'city-mpg' en mpg en L/100 km.**

In [37]:
# Créer une nouvelle colonne 'L/100 km' avec les données converties
data['L/100 km'] = 235 / data['city-mpg']

In [38]:
# Afficher les premières lignes du jeu de données pour vérifier son chargement
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,L/100 km
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495,11.190476
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500,11.190476
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500,12.368421
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950,9.791667
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450,13.055556

## Normalisation des données

**Normaliser les variables des colonnes "length", "width" et "height".**

In [40]:
from sklearn.preprocessing import MinMaxScaler
# Sélectionner les colonnes à normaliser
colonnes_normaliser = ['length', 'width', 'height']

# Créer un objet MinMaxScaler
scaler = MinMaxScaler()

# Normaliser les variables
data[colonnes_normaliser] = scaler.fit_transform(data[colonnes_normaliser])

**Comment convertir les valeurs catégorielles en numériques?**

In [44]:
# Sélectionner la colonne catégorielle à encoder
colonne_catégorielle = 'fuel-type'

# Effectuer l'encodage one-hot
encoded_data = pd.get_dummies(data[colonne_catégorielle], prefix=colonne_catégorielle)

# Concaténer les données encodées avec le DataFrame original
data_encoded = pd.concat([data, encoded_data], axis=1)

# Supprimer la colonne catégorielle d'origine
data_encoded.drop(colonne_catégorielle, axis=1, inplace=True)

In [50]:
# Afficher les premières lignes du jeu de données pour vérifier son chargement
data_encoded.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,L/100 km,fuel-type_diesel,fuel-type_gas
0,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,0.413433,...,2.68,9.0,111.0,5000.0,21,27,13495,11.190476,0,1
1,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,0.413433,...,2.68,9.0,111.0,5000.0,21,27,16500,11.190476,0,1
2,1,122.0,alfa-romero,std,two,hatchback,rwd,front,94.5,0.449254,...,3.47,9.0,154.0,5000.0,19,26,16500,12.368421,0,1
3,2,164.0,audi,std,four,sedan,fwd,front,99.8,0.529851,...,3.40,10.0,102.0,5500.0,24,30,13950,9.791667,0,1
4,2,164.0,audi,std,four,sedan,4wd,front,99.4,0.529851,...,3.40,8.0,115.0,5500.0,18,22,17450,13.055556,0,1

**Comment sauvegarder notre base de données dans un fichier CSV?**

In [51]:
# Sauvegarder le DataFrame dans un fichier CSV
data_encoded.to_csv('AutomobileNetoyé.csv', index=False)